.page{
  position: relative;
  width: 100%;
  padding-left:$aston-sidebar-size;
  background-color: $aston-page-color;
  @media (max-width: $screen-sm-max){
    padding-left: 0;
  }
}

.content{
  padding: 20px;
  padding-top: 130px;
  @media (max-width: $screen-xs-max){
    padding-top: 170px;
  }

}