.header{
  top:0;
  left: 0;
  position: fixed;
  width: 100%;
  height: auto;
  box-shadow: 4px 0 4px rgba(100,100,100,0.5);
  z-index: 999;
  padding-left: $aston-sidebar-size;
  @media (max-width: $screen-md-max){
    padding-left:0;
  }
  &-top{
    width: 100%;
    background-color: $aston-main-background;
    text-align: center;

    &  &-menu{

      padding: 0 0;
      padding-top: 10px;


      @media (min-width: $screen-xs-max) {
          float: right;
      }
    }
    &  .logo{
      padding-top: 20px;
      &   h1.logo{
        font-size: 33px;
        padding: 0;
        margin: 0;
      }

      @media (min-width: $screen-md-max) {
        float: left;
      }
    }

  }

  //
  //&-bottom{
  //  width: 100%;
  //  background-color: $aston-theme-color;
  //  padding: 10px 0;
  //  & a{
  //    color: $aston-text-secondary;
  //  }
  //
  //  @media (max-width: $screen-xs-max){
  //    display: none;
  //  }
  //}


}

.sidebar-puller{
  position: absolute;
  top: 25px;
  left: 30px;
  display: none;
  z-index: 1000;
  @media (max-width: $screen-sm-max){
    display: block;
  }

}


