

/***************************************************************************/
      /* Aston
/*****************************************************************************/
html,
body{
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

.aston-theme-color{
  background-color: $aston-theme-color;
  color:#fff;
}

.page-color{
  background-color :  $aston-main-background;
}
