

// core scss of the aston package
@import "variable";

// Importing the base packages

@import "../plugins/fontawesome/font-awesome";

@import "../../../node_modules/bootstrap-sass/templates/project/styles";
@import "../../../node_modules/summernote/dist/summernote.scss";
@import "../../../node_modules/datatables/media/css/jquery.dataTables";
@import "../../../node_modules/select2/src/scss/core";


// Importing the aston layout packages
@import "components/menu";
@import "base";
@import "layouts/header";
@import "layouts/content";
@import "layouts/footer";
@import "layouts/siderbar";
@import "components/text";