
// Setting the basic color scheme

$aston-main-background : rgb(255, 255, 255);

$aston-theme-color : rgb(42, 52, 70);

$aston-theme-color-active : darken($aston-theme-color,7%) ;

$aston-page-color : rgb(255, 227, 216);
// Text Colors

$aston-text-secondary: rgb(255,255,255);

$aston-text-sidebar: rgb(13, 91, 214);

$aston-empty-message-text: #aaa;

// Media query break points

$pc : '(min-width: 1200px)';

$table : '(min-width:401px and max-width:1199px)';

$mobile : '(max-width: 400px)';

// Component Variables

$aston-sidebar-size:100px;