/* Stoping The Over flow in x direction */
html,
body{
  overflow-x: hidden;
}


/* Layout */

/* Header Layout */
.header{
  height: 60px;
  width: 100%;
  background: rgb(109, 185, 230);
  box-shadow: 3px 3px 4px rgba(100, 100, 100, 0.8);
  color:#fff;
  z-index: 1001;
}

/* Sidebar Layout */
.sidebar{
  display: block;
  width: 100%;
  z-index: 1000;
}

.sidebar > .iconbar{
  display: inline-block;
  left:0;
  width: 100%;

}

.sidebar > .sub-sidebar{
  display: block;
  width: 100%;
  padding: 20px 0;
}

.content{
  width: 100%;
  padding: 10px;
}

/*****************************************************************************
  Css For Larger Scrrens
  ****************************************************************************/

@media screen and (min-width:600px) {

  /* Repositioning the sidebar */
  .sidebar{
    position: absolute;
    width: 320px;
    height: 100%;
    z-index: 1000;
  }

  .sidebar > .iconbar{
    position: absolute;
    padding: 20px 0;
    left:0;
    width: 120px;
    height: 100%;
  }

  .sidebar > .sub-sidebar{
    position: absolute;
    padding: 20px 0;
    left: 120;
    width: 200px;
    height: 100%;

  }

  .content{
    position: absolute;
    left:321px;
    padding: 20px;
    width: calc(100% - 320px);
    height: 100%;
  }

}
